body{
  background: url("../../public/img/giphy.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
}

.header{
  .navbar{
    border-radius: 0px;
    background: #E67E22;
    color: white;
    background-image: url("../../public/img/animated.gif");
  }
  img{
    width: 40px;
    height: 40px;
    margin: 10px;
  }
  .navbar-header, .navbar-nav{
    color: white;
  }
}

.flex-container {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  width: 90%;
  
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  justify-content: space-around;
}

.flex-item {
  background: none;
  padding: 5px;
  width: 300px;
  height: 270px;
  margin-top: 20px;
  color: white;
  font-weight: bold;
  font-size: 15px;
  text-align: center;
  width: 310px;
  background: black;

  
  img{
    height: 175px;
    width: 300px;
    margin-bottom: 20px;
  }
  
  .fa2{
    font-size: 15px;
  }
}

.btn2, .btn2:hover, .btn2:active {
  color: white;
  background: red;
  border: none;
  
  a, a:hover, a:active, a:visited {
    color: inherit;
    background: inherit;
    border: inherit;
  }
}

.search-box{
  span{
    margin: 10px;
    border-radius: 3px;
  }
  .search-btn{
    display: inline-block;
    border-radius: 10px;
    button{
       border-radius: 10px;
    }
  }
  
}